
.color-table {
    border: 0px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#color-tables {
    display: flex;
    justify-content: start;
}
.color {
    min-width: 50px;
    min-height: 30px;
    max-height: 30px;
}
.rgb {
    font-size: 9px;
}
.name {
    font-family: sans-serif;
    font-size: 12px;
    min-width: 70px;
    min-height: 30px;
}
.container {
    width: calc(100% - 10px);
    overflow: auto;
    height: calc(100% - 160px);
    /* top: 160px; */
    top: 10px;
    position: relative;
}
.desc {
    font-size: 14px;
    margin-bottom: 5px;
}
#search-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    min-height: 160px;
}
#result-table {
    font-size: 12px;
}
#result-table tr td {
    min-width: 50px;
    min-heihgt: 30px;
    font-family: sans-serif;
    font-size: 12px;
}
#result {
    margin-left: 5px;
}
.owned {
    font-weight: bold;
    text-decoration: underline;
}
